<!DOCTYPE html>
<html>
<head>
<title>README</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
<link href='style.css' rel='stylesheet' type='text/css'>
<style>
.header h1 {
	display: inline-block;
	font-family: "DejaVu Sans", sans-serif;
	font-weight: bold;
	color: white;
	font-size: 12px;
	margin: 0 8px 0 0;
}

.header h2 {
	display: inline-block;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.header a, .header a:hover, .header a:visited, .header a:active {
	color: white;
}

.articleHeadList {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 6px;
}

.articleHeadTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.listItem {
	display: block;
	background: white;
	border: 1px solid #B0D1FF;
	margin-bottom: 6px;
	padding: 4px 8px;
	overflow: hidden;
}

.listItem:hover {
	background: #B0D1FF;
	cursor: pointer;
}

.articleHead {
	height: 60px;
}
a.articleHead:hover, a.articleHead:active {
	text-decoration: none;
}

.feedTitle {
	font-family: sans-serif;
	font-weight: bold;
	color: #B0D1FF;
	font-size: 12px;
	margin-right: 8px;
}
.listItem:hover .feedTitle {
	color: white;
}

.articleTitle {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

.next {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #B0D1FF transparent transparent transparent;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: rotate(360deg);
}
.listItem:hover .next {
	border-top-color: white;
}

.prev {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	border-color: transparent transparent #B0D1FF transparent;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: rotate(360deg);
}
.listItem:hover .prev {
	border-bottom-color: white;
}

.unavailable {
	visibility: hidden;
}

</style>
</head>
<body>
<div class="header">
<h1>readme</h1><h2><a href=".">Articles</a></h2> <h2>Feeds</h2>
</div>
<div class="articleHeadList">
