<!DOCTYPE html>
<html>
<head>
<title>{{!it.feed.title}} &ndash; README</title>
{{##def.root:../#}}{{#def.header}}
<style>
.config {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 6px;
}

.configDescription, dt {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}
.button, dd {
	font-family: "DejaVu Sans", sans-serif;
	font-size: 12px;
}

.buttonList {
	display: block;
	width: 100%;
	text-align: center;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.buttonList .button:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.buttonList .button:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.buttonList .button+.button {
	border-top: none;
}

.button {
	display: block;
	width: 100%;
	background: none;
	padding: 0;
	border: 1px solid #B0D1FF;
	line-height: 40px;
	font-weight: normal;
	cursor: pointer;
}
.button:focus, .button:hover {
	font-weight: bold;
}
.button:active, .button.selected {
	background: #B0D1FF;
	color: white;
	font-weight: bold;
}

.feedImage {
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
	max-width: 100%;
	max-height: 200px;
}
</style>
</head>
<body>
<div class="header"><h1>{{!it.feed.title}}</h1><h2>Configuration</h2></div>
<div class="config">
<dl>
{{?it.feed.title}}<dt>Title</dt><dd>{{!it.feed.title}}</dd>{{?}}
{{?it.feed.description}}<dt>Description</dt><dd>{{!it.feed.description}}</dd>{{?}}
{{?it.feed.link}}<dt>Web page</dt><dd><a href="{{!it.feed.link}}">{{!it.feed.link}}</a></dd>{{?}}
{{?it.feed.feed}}<dt>Cannonical feed URL</dt><dd><a href="{{!it.feed.feed}}">{{!it.feed.feed}}</a></dd>{{?}}
{{?it.feed.image && it.feed.image.url}}
	<dt>Image</dt>
	<dd><img
		class="feedImage"
		src="{{!it.feed.image.url}}"
		{{?it.feed.image.title}}title="{{!it.feed.image.title}}"{{?}}
	></dd>
{{?}}
</dl>
<div id="feed-config">{{=it.feed_config}}</div>
</div>
<div id="articles" class="articleHeadList">
<h2>Recent posts</h2>
{{=it.articles}}
</div>
<script src="../all.js"></script>
<script>
var React = require('lib/react');
var FeedConfig = require('lib/component/feed-config');

var feed = {{=JSON.stringify(it.feed)}};

var saveTimeout = 750;
var pendingSave = null;
var saveInProgress = false;
var dirty = false;

window.addEventListener("beforeunload", function (e) {
	if (pendingSave || saveInProgress || dirty) {
		e.returnValue = "Your changes have not been saved. Do you still want to leave the page?";
		return e.returnValue;
	}
});

function save() {
	pendingSave = null;
	saveInProgress = true;
	dirty = false;

	var xhr = new XMLHttpRequest();
	xhr.open("POST", "");
	xhr.setRequestHeader('content-type', 'application/json');
	xhr.onload = function () {
		saveInProgress = false;
		if (dirty) pendingSave = setTimeout(save, saveTimeout);
	};
	xhr.send(JSON.stringify(feed));
}

function setItem(key, value) {
	feed[key] = value;

	dirty = true;
	if (pendingSave) cancelTimeout(pendingSave);
	if (!saveInProgress) pendingSave = setTimeout(save, saveTimeout);

	render();
}

function render() {
	React.render(
		React.createElement(FeedConfig, { feed: feed, setItem: setItem }),
		document.getElementById("feed-config")
	);
}

render();
</script>
</body>
</html>
