<!DOCTYPE html>
<html>
<head>
<title>README</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="logo-192x192.png">
<link rel="apple-touch-icon" sizes="192x192" href="logo-192x192.png">
<link rel="apple-touch-icon" sizes="114x114" href="logo-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="logo-72x72.png">
<link rel="apple-touch-icon" sizes="57x57" href="logo-57x57.png">
<link rel="manifest" href="manifest.json">
<link href='style.css' rel='stylesheet' type='text/css'>
<style>
.articleHeadList {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 6px;
}

.articleHeadTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.listItem {
	display: block;
	background: white;
	border: 1px solid #B0D1FF;
	margin-bottom: 6px;
	padding: 4px 8px;
	overflow: hidden;
	cursor: pointer;
}
.listItem:hover, .listItem:active {
	background: #B0D1FF;
}
.listItem:focus {
	outline: none;
	border: 1px dashed #8099BA;
}

.read {
	background: #eff4ff;
}

.articleHead {
	height: 60px;
}
a.articleHead:hover, a.articleHead:active {
	text-decoration: none;
}

.feedTitle {
	font-family: "DejaVu Sans", sans-serif;
	font-weight: bold;
	color: #B0D1FF;
	font-size: 12px;
	margin-right: 8px;
}
.listItem:hover .feedTitle, .listItem:active .feedTitle {
	color: white;
}

.articleTitle {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

.next {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #B0D1FF transparent transparent transparent;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: rotate(360deg);
}
.listItem:hover .next {
	border-top-color: white;
}

.prev {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	border-color: transparent transparent #B0D1FF transparent;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: rotate(360deg);
}
.listItem:hover .prev {
	border-bottom-color: white;
}

.unavailable {
	visibility: hidden;
}

</style>
</head>
<body>
<div class="header">
<h1>readme</h1><h2>Articles</h2> <h2><a href="feeds">Feeds</a></h2>
</div>
<div class="articleHeadList">{{=it.list}}</div>
<script>
function markAsRead(ev) {
	var xhr = new XMLHttpRequest();
	xhr.open("POST", ev.target.getAttribute("href"), false);
	xhr.send(JSON.stringify({read:true}));
}
Array.prototype.forEach.call(
	document.querySelectorAll("a.articleHead[data-open-mode='open_linked']"),
	function (element) { element.addEventListener("click", markAsRead); }
);
</script>
</body>
</html>
