<!DOCTYPE html>
<html>
<head>
<title>README</title>
{{##def.root:./#}}{{#def.header}}
</head>
<body>
<div class="header">
<h1>readme</h1><h2>Articles</h2> <h2><a href="feeds">Feeds</a></h2>
</div>
<div class="articleHeadList">{{=it.list}}</div>
<script>
function markAsRead(ev) {
	var xhr = new XMLHttpRequest();
	xhr.open("POST", ev.target.getAttribute("data-post"), false);
	xhr.send(JSON.stringify({read:true}));
}
Array.prototype.forEach.call(
	document.querySelectorAll("a.articleHead[data-open-mode='open_linked']"),
	function (element) { element.addEventListener("click", markAsRead); }
);
</script>
</body>
</html>
