<!DOCTYPE html>
<html>
<head>
<title>README</title>
{{##def.root:./#}}{{#def.header}}
</head>
<body>
<div class="header">
<h1>readme</h1><h2>Articles</h2> <h2><a href="feeds">Feeds</a></h2>
</div>
<div class="content">{{=it.list}}</div>
{{#def.mark_as_read_script}}
</body>
</html>
